<!doctype html>
<html lang='en'>
    <head>
        <title><%= @title %></title>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='css/styles.css'>
    </head>
    <body>
    	<div class='header-container'>
            <h1 id='header'><a href='/'>Susan Magic Tic Tac Toe</a></h1>
        </div>
  <header>

            <ul class="textstyle">
                <li>
                    <a href="/">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/rules">
                        Rules
                    </a>
                </li>
                <li>
                    <a href="/player_1_name">
                        Play
                    </a>
                </li>
            </ul>
    </header>

        <table id='board'>
            <tr>
                <td id='top-left'>1<%= board[0] %></td>
                <td id='top-center'>2<%= board[1] %></td>
                <td id='top-right'>3<%= board[2] %></td>
            </tr>
            <tr>
                <td id='middle-left'>4<%= board[3] %></td>
                <td id='center'>5<%= board[4] %></td>
                <td id='middle-right'>6<%= board[5] %></td>
            </tr>
            <tr>
                <td id='bottom-left'>7<%= board[6] %></td>
                <td id='bottom-center'>8<%= board[7] %></td>
                <td id='bottom-right'>9<%= board[8] %></td>
            </tr>
        </table>

		<%= yield %>
        <hr class="style-one">
        <footer class='footer-container'>
            <h3 id='footer'><a>Enjoy the Game!</a></h3>
        </footer>
        <hr class='style-one'>
        <p id='copyright'>&#169;SUSAN GRAVES 2016</p>
    </body>
</html>